{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% csrf_token %}

   {% block content %}
<style type="text/css">
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
	img {
  max-width: 100%; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

#wrapper {
  width: 1024px;
  height: 768px;
  /*max-width: 90%;*/
  max-height: 90%;
  padding: 15px;
  border-radius: 7px;
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
  margin: auto;
  background-image: -moz-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
  background-image: -webkit-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
  background-image: -ms-linear-gradient(135deg, #fafaff 0%, #f7f7fc 100%);
  box-shadow: 0px 12px 30px 0px rgba(1, 50, 101, 0.07); }

.sidebar {
  width: 70px;
  height: 100%;
  border-radius: 7px;
  float: left;
  background-image: -moz-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
  background-image: -webkit-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
  background-image: -ms-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
  box-shadow: 15px 15px 30px 0px rgba(1, 50, 101, 0.21);
  padding: 35px 0;
  position: relative; }
  .sidebar .profile-img {
    padding: 0 12px;
    margin-bottom: 40px; }
    .sidebar .profile-img img {
      border-radius: 50%;
      border: 3px solid #fff; }
  .sidebar .sidebar-menu {
    display: block; }
    .sidebar .sidebar-menu .sidebar-menu__links {
      display: block;
      height: 55px;
      border-left: 0px solid #fff;
      text-align: center;
      padding-top: 15px;
      margin-bottom: 10px; }
      .sidebar .sidebar-menu .sidebar-menu__links.active, .sidebar .sidebar-menu .sidebar-menu__links:hover {
        background-color: #43a4f3;
        border-left: 4px solid #fff; }
  .sidebar .btn-menu {
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 1; }
    .sidebar .btn-menu:hover {
      opacity: .7; }

.messages {
  width: 345px;
  height: 100%;
  float: left;
  margin-left: 15px;
  position: relative;
  /*overflow: auto;
  padding-right: 15px;*/ }
  .messages .seacrh-bar {
    border-radius: 7px;
    background: #f0f2f4;
    box-shadow: 9px 9px 30px 0px rgba(1, 50, 101, 0.21);
    width: 100%;
    height: 45px;
    margin-bottom: 15px; }
    .messages .seacrh-bar img {
      margin: 14px 10px 15px 15px; }
    .messages .seacrh-bar input {
      background: none;
      border: none;
      height: 45px;
      width: calc(100% - 50px); }
      .messages .seacrh-bar input:focus {
        outline: none; }
  .messages .messages__item {
    background: #fff;
    box-shadow: 9px 9px 30px 0px rgba(1, 50, 101, 0.21);
    border-radius: 7px;
    width: 100%;
    height: 115px;
    margin-bottom: 15px;
    padding: 20px 15px;
    display: block;
    position: relative;
    overflow: hidden; }
    .messages .messages__item:hover, .messages .messages__item.active {
      text-decoration: none;
      box-shadow: 9px 9px 30px 10px rgba(1, 50, 101, 0.21);
      background: #f0f2f4; }
    .messages .messages__item .name {
      color: #4a4a4a;
      font-size: 16px;
      font-weight: 500;
      float: left; }
    .messages .messages__item .date {
      float: right;
      color: #c0c0c0; }
    .messages .messages__item .content {
      float: left;
      padding: 10px 0;
      color: #565656;
      font-size: 15px; }
    .messages .messages__item.unread:after {
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      right: -12px;
      top: 50px;
      border-radius: 50%;
      background-image: -moz-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
      background-image: -webkit-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
      background-image: -ms-linear-gradient(90deg, #117ee7 0%, #108ef2 100%);
      box-shadow: 5px 5px 30px 0px rgba(1, 50, 101, 0.21); }

.message-content {
  background: #fff;
  border-radius: 7px;
  box-shadow: 9px 9px 30px 0px rgba(1, 50, 101, 0.21);
  /*max-width: 550px;*/
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
  /* margin-left: 15px;*/ }
  .message-content .message-content__item .message-content-header {
    border-bottom: 1px solid #e0e2e4;
    padding: 20px 15px;
    position: relative;
    height: 95px; }
    .message-content .message-content__item .message-content-header .name {
      font-size: 21px;
      color: #535357;
      font-weight: 500; }
    .message-content .message-content__item .message-content-header .phone {
      font-size: 16px;
      color: #a3a3a7; }
    .message-content .message-content__item .message-content-header img {
      position: absolute;
      top: 30px;
      right: 15px; }
  .message-content .message-box {
    padding: 25px;
    height: calc(100% - 175px); }
    .message-content .message-box .message-box__item {
      margin-bottom: 15px; }
      .message-content .message-box .message-box__item.incoming {
        text-align: left; }
        .message-content .message-box .message-box__item.incoming .time {
          right: 0; }
      .message-content .message-box .message-box__item.outgoing {
        text-align: right; }
        .message-content .message-box .message-box__item.outgoing .time {
          left: 0; }
      .message-content .message-box .message-box__item .name {
        color: #535357;
        font-size: 16px;
        font-weight: 400; }
      .message-content .message-box .message-box__item .box-text {
        background: #f0f2f4;
        display: inline-block;
        padding: 20px 15px;
        padding-right: 50px;
        font-size: 16px;
        color: #535357;
        border-radius: 7px;
        max-width: 90%;
        margin-top: 10px;
        text-align: left;
        position: relative;
        margin-bottom: 20px; }
        .message-content .message-box .message-box__item .box-text .time {
          position: absolute;
          bottom: -25px;
          font-size: 13px;
          color: #939397; }
  .message-content .message-form {
    height: 75px;
    border-top: 1px solid #e0e2e4;
    padding: 20px 15px; }
    .message-content .message-form input {
      width: calc(100% - 50px);
      border: none;
      font-size: 16px;
      margin-top: 5px; }
    .message-content .message-form img {
      float: right;
      margin-top: 10px; }

/*# sourceMappingURL=style.css.map */

</style>

<section id="about-me" class="section default" id="personal-area" class="slider">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1><span>Estado Solicitudes</span> <i class="fa fa-rocket"></i></h1>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 fix">
						<!-- About Tab -->
						<div class="tabs-main">
							<!-- Tab Menu -->
							
							<!--/ End Tab Menu -->
							<div style="padding-left: 50px;" class="tab-content">
								
								<!-- Single Tab -->
								<div role="tabpanel" class="tab-pane fade in active" id="skill">
									<h2 class="tab-title">Estado de las Solicitudes</h2>
									<div class="row">	
										{% for soli in solicitudes %}
										<div style="padding-right: 50px; padding-top: 15px;" class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>{{ soli.Servicio.Nombre}}</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: {{soli.Estado}}%;"><span>{{soli.Estado}}%</span></div>
												  
												  {% if soli.Estado == "0" %}
										
										<p style="color: #fff; padding-top: 15px;">Solicitud Enviada</p>
										
										{% endif %}
										{% if soli.Estado == "10" %}
										
										<p style="color: #fff; padding-top: 15px;">Solicitud Recibida</p>
										
										{% endif %}
										{% if soli.Estado == "20" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la Primera Reunión</p>
										
										{% endif %}
										
										{% if soli.Estado == "40" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la primer Revisión</p>
										
										{% endif %}
										
										{% if soli.Estado == "60" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la segunda Revisión</p>
										
										{% endif %}
										{% if soli.Estado == "80" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la tercera Revisión</p>
										
										{% endif %}
										{% if soli.Estado == "90" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la Entrega</p>
										
										{% endif %}

										{% if soli.Estado == "100" %}
											<p style="color: #fff">Finalizado</p>
											<div class="text-center" class="contenedor-modal" style="padding-top: 1px">
												
							<button data-toggle="modal" data-target="#encuesta" style="background: #E74C3C; padding:3px; float:left; font-size: 12px;" type="submit" class="btn btn-primary btn-lg">Realizar Encuesta</button>
							
						</div>
										{% endif %}
										<div class="text-center" class="contenedor-modal" style="padding-top: 1px; margin-right:5px">
															
										<button data-toggle="modal" data-target="#comunicacion{{soli.id}}" style="background: #E74C3C; padding:3px; float:left; font-size: 12px;" type="submit" class="btn btn-primary btn-lg">Comunicacion</button>
										
									</div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										{% endfor %}								
								</div>
								<!--/ End Single Tab -->


							</div>

						</div>
						
						<!--/ End About Tab -->
						
						
						
						

					</div>

				</div>

			</div>

			
		</section>	
		<!--/ End About Me -->
			<!-- Comienza el modal para encuesta -->

	<div class="modal fade" id="encuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          	<span aria-hidden="true">&times;</span>
	        </button>

	      		<div>
	        		<center><font color="black" ><h4 class="modal-title" id="myModalLabel">Gracias por preferir a unipymes</h4> </font></center>
	    		</div>

	      		<div class="modal-body">
						<div class="sec" data-sec="basic-information">
						<div class="be-large-post">
							<div class="be-large-post-align">

									<form action="/mensaje_encuesta/" method="post">
										
										<font color="#FF0C0D"> <h4> 1.- ¿Cómo considera el servicio? </h4></font><br/>
										<label class="solicontainer"> Malo
											<input type="radio" name="uno" value="Malo">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Bueno
											<input type="radio" name="uno" value="Bueno">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Muy Bueno
											<input type="radio" name="uno" value="Muy bueno">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Excelente
											<input type="radio" name="uno" value="Excelente">
											<span class="checkmark"></span>
										</label> <br>

										<font color="FF0C0D"> <h4> 2.- ¿Qué aspecto cree que debe mejorarse? </h4></font><br/>
										<label class="solicontainer"> La presentación
											<input type="radio" name="dos" value="La presentacion">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> El tiempo de respuesta
											<input type="radio" name="dos" value="el tiempo de respuesta">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> La atención
											<input type="radio" name="dos" value="La atencion">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Nada
											<input type="radio" name="dos" value="La atencion">
											<span class="checkmark"></span>
										</label><br>
										
										<font color="FF0C0D"> <h4> 3.- ¿Qué porcentaje pondría al producto entregado? </h4></font><br/>
										<label class="solicontainer"> 25%
											<input type="radio" name="tres" value="25%">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> 50%
											<input type="radio" name="tres" value="50%">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> 75%
											<input type="radio" name="tres" value="75%">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> 100%
											<input type="radio" name="tres" value="100%">
											<span class="checkmark"></span>
										</label> <br>

										<font color="FF0C0D"> <h4> 4.- ¿En qué cree que debe mejorar UNIPYMES? </h4></font><br/>
										<label class="solicontainer"> Su recurso humano
											<input type="radio" name="cuatro" value="Su recurso humano">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Ética
											<input type="radio" name="cuatro" value="Etica">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Calidad
											<input type="radio" name="cuatro" value="Calidad">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Profesionalismo
											<input type="radio" name="cuatro" value="Profesionalismo">
											<span class="checkmark"></span>
										</label><br>

										<font color="FF0C0D"> <h4> 5.- ¿Recomendaría a UNIPYMES? </h4></font><br/>
										<label class="solicontainer"> Si
											<input type="radio" name="cinco" value="Si">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> No
											<input type="radio" name="cinco" value="No">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> Talvés
											<input type="radio" name="cinco" value="Talves">
											<span class="checkmark"></span>
										</label>
										<label class="solicontainer"> No lo sé
											<input type="radio" name="cinco" value="No lo se">
											<span class="checkmark"></span>
										</label>
										<font color="#FF0C0D"> <h4> 6.- Nos encantaria que nos pudiera platicar su experiencia con unipymes </h4></font><br/>
										
											<textarea class="form-control" style="width: 100%; height: 200px;" name="comentarios"></textarea>
										<br>
										<div class="text-center modal-footer">
										<div class="text-center">
										<input type="submit" style="background: #E74C3C"class="btn btn-primary btn-lg" value="Enviar">
										</div>
										</div>

									</form>													
							</div> 
						</div>
	                </div>
	    		</div>
	 		 </div>
		</div>	
	</div>
</div>
	
  		<!--/ Termina el modal -->


<!-- Comienza el modal para encuesta -->
	{% for soli in solicitudes %}
	<div class="modal fade bd-example-modal-lg" id="comunicacion{{soli.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div  class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          	<span aria-hidden="true">&times;</span>
	        </button>

	      		<div>
	        		<center><font color="black" ><h4 class="modal-title" id="myModalLabel">Comunicacion</h4> </font></center>
	    		</div>

	      		<div class="modal-body">
						<div class="sec" data-sec="basic-information">
						<div class="be-large-post">
							<div class="col-sm-4">
								<div>
									<ul class="list-group list-group-flush">
										<a href="#" class="list-group-item list-group-item-action active">
									    Archivos
									  </a>
									{% for mensaje in soli.Mensaje_Solicitud.all %}	
									{% if mensaje.Archivo %}
										<li  class='list-group-item'>
											<span><a href="#" id="ar" onclick="descarchivo('{{mensaje.Archivo.url}}')">{{mensaje.Archivo.name|replacefilename}}</a></span> 
										</li>
									{% endif %}
									{% endfor %}
									</ul>

									<br>			
								</div>
							</div>
							<div  class="be-large-post-align col-sm-8">
								<div class="message-content chat" style="height: 400px; overflow-y: scroll;">

						            <div class="message-content__item">
						                <div class="message-content-header">
						                    <div class="name">{{ soli.Encargado.username}}</div>
						                    <div class="phone">unipymes.tec@gmail.com</div>
						                    <img src="img/message-more.png" alt="">
						                </div>
						            </div>
									<div class="message-box">
										{% for mensaje in soli.Mensaje_Solicitud.all %}

										{% if mensaje.Usuario == user %}
										<div class="message-box__item outgoing">
											<div class="name">{{ mensaje.Usuario.username }}</div>
						                    <div class="box-text">
						                    	{% if mensaje.Archivo %}
						                    	<span><a href="#" id="ar" onclick="descarchivo('{{mensaje.Archivo.url}}')">{{mensaje.Archivo.name|replacefilename}}</a></span><br>
						                    	{% endif %}
						                            {{ mensaje.Mensaje|safe}}

						                        <div class="time">{{ mensaje.date|date:"m-d h:i a"}}</div>
						                    </div>
						                </div>

						                {% else %}

						                <div class="message-box__item incoming">
						                    <div class="name">{{ mensaje.Usuario.username }}</div>

						                    <div class="box-text">
						                    	{% if mensaje.Archivo %}
						                        <span><a href="#" id="ar" onclick="descarchivo('{{mensaje.Archivo.url}}')">{{mensaje.Archivo.name|replacefilename}}</a></span><br>

						                        {%endif%}

						                            {{ mensaje.Mensaje|safe}}

						                        <div class="time">{{ mensaje.date|date:"m-d h:i a"}}</div>
						                    </div>
						                </div>
						                {% endif %}

						                
						                {% endfor %}
						                
						            </div>

						            

						        </div>
						        <form action="/MensajeSoli/" method="POST" enctype="multipart/form-data">
						        	{% csrf_token %}
						        	<input type="hidden" name="solicitud" value="{{soli.id}}">
						        	<div class="message-form">
						                <input name="mensaje" type="text" placeholder="Escribe tu mensaje" style="width: 100%; height: 40px;">
						            </div>
									<div class="input-group mb-3">
									  Seleccione un archivo: <input class="" type="file" name="file">
											<input class="btn btn-primary btn-lg" value="enviar" type="submit">
									</div>
								</form>		
						    </div>
											
																
							</div> 
						</div>
	                </div>
	    		</div>
	 		 </div>
		</div>	
	</div>
</div>
	{% endfor %}
  		<!--/ Termina el modal -->
<!-- Jquery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
	function descarchivo(e) {
      //stop the browser from following
    window.open(e);
}
$(function() {
	$(".chat").scrollTop($(".chat")[0].scrollHeight);
});

</script>
{% endblock %}