{% extends 'base.html' %}
{% load staticfiles %}
{% csrf_token %}

   {% block content %}


<section id="about-me" class="section default" id="personal-area" class="slider">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1><span>Estado Solicitudes</span> <i class="fa fa-rocket"></i></h1>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 fix">
						<!-- About Tab -->
						<div class="tabs-main">
							<!-- Tab Menu -->
							
							<!--/ End Tab Menu -->
							<div style="padding-left: 50px;" class="tab-content">
								
								<!-- Single Tab -->
								<div role="tabpanel" class="tab-pane fade in active" id="skill">
									<h2 class="tab-title">Estado de las Solicitudes</h2>
									<div class="row">	
										{% for soli in solicitudes %}
										<div style="padding-right: 50px; padding-top: 15px;" class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>{{ soli.Servicios_idServicios.Nombre}}</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: {{soli.Estado}}%;"><span>{{soli.Estado}}%</span></div>
												  
												  {% if soli.Estado == "0" %}
										
										<p style="color: #fff; padding-top: 15px;">Solicitud Enviada</p>
										
										{% endif %}
										{% if soli.Estado == "10" %}
										
										<p style="color: #fff; padding-top: 15px;">Solicitud Recibida</p>
										
										{% endif %}
										{% if soli.Estado == "20" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la Primera Reunión</p>
										
										{% endif %}
										
										{% if soli.Estado == "40" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la primer Revisión</p>
										
										{% endif %}
										
										{% if soli.Estado == "60" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la segunda Revisión</p>
										
										{% endif %}
										{% if soli.Estado == "80" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la tercera Revisión</p>
										
										{% endif %}
										{% if soli.Estado == "90" %}
										
										<p style="color: #fff; padding-top: 15px;">Se Realizó la Entrega</p>
										
										{% endif %}

										{% if soli.Estado == "100" %}
											<p style="color: #fff">Finalizado</p>
										{% endif %}
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										{% endfor %}								
								</div>
								<!--/ End Single Tab -->


							</div>

						</div>
						
						<!--/ End About Tab -->
						
						<div class="text-center" class="contenedor-modal" style="padding-top: 1px">
												
							<div class="text-center"><button data-toggle="modal" data-target="#encuesta" style="background: #E74C3C; top: 20px" type="submit" class="btn btn-primary btn-lg">Realizar Encuesta</button>
							</div>
						</div>
						
						

					</div>

				</div>

			</div>

			
		</section>	
		<!--/ End About Me -->
			<!-- Comienza el modal para encuesta -->

						<div class="modal fade" id="encuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          	<span aria-hidden="true">&times;</span>
						        </button>

						      		<div>
						        		<center><font color="black" face="Comic Sans MS,arial"><h4 class="modal-title" id="myModalLabel">Por favor, seleccione una respuesta</h4> </font></center>
						    		</div>

						      		<div class="modal-body">
          								<div class="sec" data-sec="basic-information">
											<div class="be-large-post">
												<div class="be-large-post-align">

														<form action="/mensaje_encuesta/" method="post">
															
															<font color="#FF0C0D"> <h4> 1.- ¿Cómo considera el servicio? </h4></font><br/>
															<label class="container"> Malo
																<input type="radio" name="uno" value="Malo">
																<span class="checkmark"></span>
															</label>
															<label class="container"> Bueno
																<input type="radio" name="uno" value="Bueno">
																<span class="checkmark"></span>
															</label>
															<label class="container"> Muy Bueno
																<input type="radio" name="uno" value="Muy bueno">
																<span class="checkmark"></span>
															</label>
															<label class="container"> Excelente
																<input type="radio" name="uno" value="Excelente">
																<span class="checkmark"></span>
															</label> <br>

															<font color="FF0C0D"> <h4> 2.- ¿Qué aspecto cree que debe mejorarse? </h4></font><br/>
															<label class="container"> La presentación
																<input type="radio" name="dos" value="La presentacion">
																<span class="checkmark"></span>
															</label>
															<label class="container"> El tiempo de respuesta
																<input type="radio" name="dos" value="el tiempo de respuesta">
																<span class="checkmark"></span>
															</label>
															<label class="container"> La atención
																<input type="radio" name="dos" value="La atencion">
																<span class="checkmark"></span>
															</label><br>
															
															<font color="FF0C0D"> <h4> 3.- ¿Qué porcentaje pondría al producto entregado? </h4></font><br/>
															<label class="container"> 25%
																<input type="radio" name="tres" value="25%">
																<span class="checkmark"></span>
															</label>
															<label class="container"> 50%
																<input type="radio" name="tres" value="50%">
																<span class="checkmark"></span>
															</label>
															<label class="container"> 75%
																<input type="radio" name="tres" value="75%">
																<span class="checkmark"></span>
															</label>
															<label class="container"> 100%
																<input type="radio" name="tres" value="100%">
																<span class="checkmark"></span>
															</label> <br>

															<font color="FF0C0D"> <h4> 4.- ¿En qué cree que debe mejorar UNIPYMES? </h4></font><br/>
															<label class="container"> Su recurso humano
																<input type="radio" name="cuatro" value="Su recurso humano">
																<span class="checkmark"></span>
															</label>
															<label class="container"> Ética
																<input type="radio" name="cuatro" value="Etica">
																<span class="checkmark"></span>
															</label>
															<label class="container"> Calidad
																<input type="radio" name="cuatro" value="Calidad">
																<span class="checkmark"></span>
															</label>
															<label class="container"> Profesionalismo
																<input type="radio" name="cuatro" value="Profesionalismo">
																<span class="checkmark"></span>
															</label><br>

															<font color="FF0C0D"> <h4> 5.- ¿Recomendaría a UNIPYMES? </h4></font><br/>
															<label class="container"> Si
																<input type="radio" name="cinco" value="Si">
																<span class="checkmark"></span>
															</label>
															<label class="container"> No
																<input type="radio" name="cinco" value="No">
																<span class="checkmark"></span>
															</label>
															<label class="container"> Talvés
																<input type="radio" name="cinco" value="Talves">
																<span class="checkmark"></span>
															</label>
															<label class="container"> No lo sé
																<input type="radio" name="cinco" value="No lo se">
																<span class="checkmark"></span>
															</label>

															<div class="text-center modal-footer">
															<div class="text-center">
															<input type="submit" style="background: #E74C3C"class="btn btn-primary btn-lg value="Enviar">
															</div>
															</div>

														</form>													
												</div> 
											</div>
						                </div>
						    		</div>
						 		 </div>
							</div>	
	
  		<!--/ Termina el modal -->

{% endblock %}