{% extends 'base.html' %}
{% load staticfiles %}

   {% block content %}
   <section id="portfolio" class="section">
	<div class="contact">
		<div class="container">
			<div class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<h1>Inicia Sesión</h1>
					<br>
					<div id="datos"></div>
			</div>
		</div>
	</div>

	<div class="contact-form">
		<div class="container">
		    <div class="col-md-8 col-md-offset-2">
    		    
                <form action="/iniciosesion/" id="login" method="POST" role="form" class="contactForm">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" data-rule="password" data-msg="Please enter a valid password" />
                        <div class="validation"></div>
                    </div>

                    {%if sesion%}
					<input type="hidden" name="regreso" value="regreso"></input>
					{%endif%}
					<br><br>
					<div class="text-center"><p>Si no tienes una cuenta <a style="color: red;" href="/registro/">Regístrate</a> o si olvidaste la contraseña haz <a style="color: red;" href="/olvidocontraseña/">Clic Aquí</a></p></div>
					<br>
                    <div class="button"><button type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button></div>

                </form>
            </div>
        </div>
	</div>
	</section>
<br>
			<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

	{% endblock %}