{% extends 'base.html' %}
{% load staticfiles %}

   {% block content %}
	<body onload="enviar_formulario()">
		<section id="portfolio" class="section">
	<div class="contact">
		<div class="container">
			<div class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<h2>Ingresa tu Nueva Contraseña {{usuario}}</h2>
					{%if sesion%}
					<h2>{{sesion}}</h2>
					{%elif usucon%}
					<h2>{{usucon}}</h2>
					{%endif%}
				</div>
			</div>
		</div>
	</div>

	<div class="contact-form">
		<div class="container">
		    <div class="col-md-8 col-md-offset-2">
    		    
                <form name="formulario1" action="/crearnuevacontra/" method="POST" role="form" class="contactForm">{% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="usuario" class="form-control" id="usuario" placeholder="Nueva Contraseña" value="{{usuario}}" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>

                    <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Enviar</button></div>

                </form>
            </div>
        </div>
	</div>
</section>
</body>
<script>
function enviar_formulario(){
   document.formulario1.submit()
}
</script>
	{% endblock %}