{% extends 'base.html' %}
{% load staticfiles %}
   {% block content %}


		<!-- Start portfolio -->
		<section id="portfolio" class="section single">
			<div class="container">
				<div class="row">
					<!-- Single portfolio -->
					<img height="400" width="1200" src="{{servicio.Imagen.url }}">
					<!--/ End portfolio -->
				</div>
				<div class="row">
					<!-- Portfolio Content -->
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="content">
							<h2>{{ servicio.Nombre }}</h2>
							<p> {{ servicio.Descripcion }} </p>


						</div>
					</div>
					<!--/ End portfolio Content -->
					<div class="col-md-4 col-sm-4 col-xs-12">


					<form action="/solicitado/" method="POST">
					<input type="hidden" name="nombreser" value="{{servicio.Nombre}}">
					<input type="hidden" name="sesion" value="{{request.session.sesion}}">
					<div class="text-center">

					{% if servicio.Disponible != 0 %}
					<div class="button">
					<input type="submit" class="btn" value="Solicitar Cotización"></input>
					</div>
					{% else %}<div class="button">
					<input type="hidden" name="espera" value="espera">
					<input type="submit" class="btn btn-primary btn-lg" value="Entrar en lista de espera"></input>
					</div>
					{% endif %}
					</div>
					<br>
					<br>
				</form>

					</div>

				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="portfolio-related">
							{% for serv in servicios %}
							<div class="portfolio-single">
								<div class="portfolio-head">
									<img height="330" src="{{ serv.Imagen.url }}" alt=""/>
								</div>
								<div class="portfolio-hover">
									<h4><span>{{ serv.Area.Area }}</span><a href="/servicios/{{serv.id}}/">{{ serv.Nombre }}</a></h4>
									<p>{{serv.Descripcion|truncatewords:"30"}} </p>
									<div class="button">
										<a href="/servicios/{{serv.id}}/"><i class="fa fa-search"></i></a>

									</div>
								</div>
							</div>
							{% endfor %}


						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->




   {% endblock %}