{% extends 'base.html' %}
{% load staticfiles %}

   {% block content %}
   
<style type="text/css">
	[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: #D14233;
}
</style>
<section id="portfolio" class="section">
	<div class="">

		<div class="container">
			<div style="text-align: center;" class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<h2>Equipo</h2>
				</div>
				<br>
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
					<p>Enfocados a generar grandes cambios como equipo multidisciplinario, integrando fuerzas de conocimiento para la resolución de problemas, ayudando así a las MiPyMes en su desarrollo.</p>
				</div>
				<br><br>
				<div class="row">
					<figure class="imghvr-fade">
					    <img style="width:100%; border-radius:30%" src="{% static 'images/Todos1.jpg' %}">
					    <figcaption style="padding:0px; background-color: #D14233;">
					        <img  class="center-block" style="width:100%; border-radius:30%" src="{% static 'images/Todos2.jpg' %}">
					    </figcaption>
					</figure>
					<!--<div class="col-md-12" onmouseover="hover(this);" onmouseout="unhover(this);" style="width:100%; height:800px;">
						<img id="imagentodos" class="center-block" style="width:100%; border-radius:30%" src="{% static 'images/Todos1.jpg' %}">
					</div>-->
				</div>
				<br>

				<div class="row">
					<div class="col-md-3">
						
						<div class="col-md-12 ">
							<a href="" data-toggle="modal" data-target="#Wilder"><img class="center-block" style=" border-radius: 50%; width:65%;"  height="226" src="{% static 'images/colmenares.jpg' %}" alt="" ></a>
							<h3>Wilder Colmenares</h3>

						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12 ">
								<a href="" data-toggle="modal" data-target="#Rico"><img class="center-block" style=" border-radius: 50%; width:65%;" src="{% static 'images/Yo.jpg' %}" alt="" ></a>
								<h3>Fernando Rico</h3>

							</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12 ">
								<a href="" data-toggle="modal" data-target="#Julio"><img class="center-block" style=" border-radius: 50%; width:65%;" src="{% static 'images/Julio.jpg' %}" alt="" ></a>
								<h3>Julio Guzmán</h3>

							</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12 ">
								<a href="" data-toggle="modal" data-target="#Caro"><img class="center-block" style=" border-radius: 50%; width:65%;" src="{% static 'images/caro cueto.png' %}" alt="" height="226"></a>
								<h3>Carolina Cueto</h3>

							</div>
					</div>

					

				
					
				


				
					
				

				
					
				

				
					
				


				
					
				
				</div>

			</div>
		</div>
	</div>
</section>
    <!--
	<div class="skills">
		<div class="container">
			<div class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<h2>Nuestras Habilidades</h2>
				</div>
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
					<p>.</p>
				</div>
			</div>
		</div>
	</div>
	-->



	<!--Modal-->
	<div class="modal fade" id="Rico" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Carlos Fernando Rico Girón</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">

							<div class="be-large-post-align">
								<div class="row">
									<br>

                    						<img class="center-block" style="border-radius: 50%; width:30%;"  src="{% static 'images/Yo.jpg' %}" alt="" >
                                            <br><br>
                    						<p style="color: black; padding-left: 20px; padding-right: 20px;">Hola mi nombre es Fernando Rico tengo 23 años, soy estudiante de Ingeniería en Sistemas Computacionales, me gusta mucho hacer ejercicio mi deporte es la calistenia, amo los videojuegos y el anime, tengo un gran gusto por la programación y siempre busco ser mejor persona</p>
								</div>
							</div>
						</div>
					</div>
				</center>
        <div class="modal-footer"></div>
      </div>

    </div>
  </div>


  	<!--Modal-->
	<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Carla" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Carla Fabila Marín Mejía</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">

							<div class="be-large-post-align">
								<div class="row">
									<br>

                    						<img class="center-block" style="border-radius: 50%; width:30%;"  src="{% static 'images/Carla.jpg' %}" alt="" >
                                            <br><br>
                    						<p style="color: black; padding-left: 20px; padding-right: 20px;">Soy Carla de 21 años, estudiante de Ingeniería en Gestión Empresarial, me gusta la musica, hacer deporte y sobre todo el desarrollo de proyectos en pro de la sociedad con la aplicación de mis conocimientos</p>
								</div>
							</div>
						</div>
					</div>
				</center>
        <div class="modal-footer"></div>
      </div>

    </div>
  </div>


  <!--Modal-->
	<div class="modal fade" id="Wilder" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Wilder Adán Colmenares Pérez</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">

							<div class="be-large-post-align">
								<div class="row">
									<br>

                    						<img class="center-block" style="border-radius: 50%; width:200px;"  height="194" src="{% static 'images/colmenares.jpg' %}" alt="" >
                                            <br><br>
                    						<p style="color: black; padding-left: 20px; padding-right: 20px;">¡Hola soy Wilder Colmenares! tengo 22 años, egresado de la carrera de  Ingeniería en Sistemas Computacionales con Especialidad en Desarrollo de Aplicaciones Móviles y Tecnologías Web. Socio de empresas Chiapanecas, asesor y capacitador en Ventas.</p>
								</div>
							</div>
						</div>
					</div>
				</center>
        <div class="modal-footer"></div>
      </div>

    </div>
  </div>


  <!--Modal-->
	<div class="modal fade" id="Julio" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Julio César Guzmán López</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">

							<div class="be-large-post-align">
								<div class="row">
									<br>

                    						<img class="center-block" style="border-radius: 50%; width:30%;"  src="{% static 'images/Julio.jpg' %}" alt="" >
                                            <br><br>
                    						<p style="color: black; padding-left: 20px; padding-right: 20px;">Soy Julio Guzmán de 23 años, egresado de la carrera de Ingeniería en Gestión Empresarial, he asesorado proyectos empresariales y emprendimientos a favor del Desarrollo Económico, Ambiental y Social del país.</p>
								</div>
							</div>
						</div>
					</div>
				</center>
        <div class="modal-footer"></div>
      </div>

    </div>
  </div>

  <!--Modal-->
	<div class="modal fade" id="Caro" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Carolina Cueto Domínguez</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">

							<div class="be-large-post-align">
								<div class="row">
									<br>

                    						<img class="center-block" style="border-radius: 50%; width:30%;"  src="{% static 'images/caro cueto.png' %}" alt="" >
                                            <br><br>
                    						<p style="color: black; padding-left: 20px; padding-right: 20px;">Ingeniera Industrial egresada del Instituto Tecnológico de Querétaro,  Maestría en Alta Dirección por el Instituto Nacional de Estudios Fiscales, con 10 años de experiencia en iniciativa privada como líder de proyecto y en el desarrollo e impartición de clases en Universidades.</p>
								</div>
							</div>
						</div>
					</div>
				</center>
        <div class="modal-footer"></div>
      </div>

    </div>
  </div>


  <!--Modal-->
	<div class="modal fade" id="Erika" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Rosa Erika Bolaños Hernández</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">

							<div class="be-large-post-align">
								<div class="row">
									<br>

                    						<img class="center-block" style="border-radius: 50%; width:30%;"  height="194" src="{% static 'personas/erika.jpg' %}" alt="" >
                                            <br><br>
                    						<p style="color: black; padding-left: 20px; padding-right: 20px;">Hola, mi nombre es Rosa Erika Bolaños Hernández,
                    						estudiante del 7° semestre de la carrera de Ingeniería en Gestión Empresarial, me considero una persona emprendedora de
                    						nuevos proyectos y con la habilidad de liderar a un grupo de personas para llegar a un objetivo planeado.</p>
								</div>
							</div>
						</div>
					</div>
				</center>
        <div class="modal-footer"></div>
      </div>

    </div>
  </div>

  <!--Modal-->
	<div class="modal fade" id="Lulu" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Lourdes Dinora Constantino López</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">

							<div class="be-large-post-align">
								<div class="row">
									<br>

                    						<img class="center-block" style="border-radius: 50%; width:30%;"  height="194" src="{% static 'personas/lulu.jpg' %}" alt="" >
                                            <br><br>
                    						<p style="color: black; padding-left: 20px; padding-right: 20px;">Hola soy Lourdes Constantino, estudio Ingeniería Industrial, me gustan las matemáticas, leer y tocar la guitarra. Me considero una persona analítica y comprometida, estoy abierta a nuevos retos, me atrae la innovación, la tecnología, el emprendimiento y el trabajo en equipo. Considero que los buenos cambios se dan cuando unimos diversos conocimientos, talentos y habilidades.</p>
								</div>
							</div>
						</div>
					</div>
				</center>
        <div class="modal-footer"></div>
      </div>

    </div>
  </div>

{% block script %}
<script type="text/javascript">
	$("#imagentodos").hover(function (element) {
			$("#imagentodos").fadeTo("slow", 0.5,function () {
				
			}).attr('src', '{% static "images/Todos2.jpg" %}').fadeTo("slow", 1);
			// $("#imagentodos").fadeIn("slow");
		});

	$("#imagentodos").mouseout(function (element) {
			$("#imagentodos").fadeTo("slow", 0.5,function () {
			}).attr('src', '{% static "images/Todos1.jpg" %}').fadeTo("slow", 1);
			
			// $("#imagentodos").fadeIn("slow");
		});

	// function unhover(element) {
	// 	$("#imagentodos").fadeOut();
	//   	$("#imagentodos").attr('src', '{% static "images/Todos1.jpg" %}');
	//   	$("#imagentodos").fadeIn();
	// }
</script>
{% endblock %}


{% endblock %}