{% extends 'base.html' %}
{% load staticfiles %}

   {% block content %}
<section id="portfolio" class="section">
	<div class="contact">
		<div class="container">
			<div class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s"><br>
					<br><br><br><br><br>
					<h2>Gracias por solicitar nuestro servicio un asesor se pondrá en contacto con usted</h2>
				</div>
					<br><br>
						<div class="contact-form">
		<div class="container">
		    <div class="col-md-8 col-md-offset-2">



                    <div class="button"><a  class="btn btn-primary btn-lg" style="color: black;" href="/">Finalizar</a></div>
            </div>
        </div>
	</div>
					<br><br><br>
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
					<h3></h3>
				</div>
			</div>
		</div>
	</div>

	</section>

	{% endblock %}